<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Ev3Port" value="COM3" /> <!-- or for Linux/OSX, "/dev/tty.YourPortName" -->
    <add key="AwsSqsAddress" value="https://sqs.eu-west-1.amazonaws.com/697251208257/Test2Queue" />
    <add key="StepsPerDegreeTurn" value="3.5" />
  </appSettings>
</configuration>